<div class="share-bar" [class.disabled]="!hasContent" [title]="!hasContent ? ('share.sin_contenido' | translate) : ''">
  <ion-icon class="face" name="logo-facebook" (click)="shareOnFacebook()" [title]="'share.facebook' | translate"></ion-icon>
  <ion-icon class="waps" name="logo-whatsapp" (click)="shareOnWhatsApp()" [title]="'share.whatsapp' | translate"></ion-icon>
  <ion-icon class="twit" name="logo-twitter" (click)="shareOnTwitter()" [title]="'share.twitter' | translate"></ion-icon>
  <ion-icon class="tele" src="assets/icon/telegram.svg" (click)="shareOnTelegram()" [title]="'share.telegram' | translate"></ion-icon>
</div>
