@for (item of entityNames; track $index) {
  <div class="card-container" [id]="item._id">
    @if (item.profileId?.chanelName) {
      <div class="card-usuario">
        <div class="card-usuario-info" (click)="perfil(item.postedBy)">
          <img class="imagenPefil" [src]="resolveImg(item.profileId.profilePic?.medium)" (error)="$any($event.target).src = defaultAvatar" />
          <span>{{ item.profileId.chanelName }}</span>
        </div>
        @if (isLoggedIn && !isOwnContent(item)) {
          <button class="follow-btn"
                  [class.following]="followStatus.get(item.profileId._id)"
                  [disabled]="followLoading.get(item.profileId._id)"
                  (click)="toggleFollow($event, item)">
            <ion-icon [name]="followStatus.get(item.profileId._id) ? 'person-remove-outline' : 'person-add-outline'"></ion-icon>
          </button>
        }
      </div>
    }

    <div class="card-background" (click)="seeContent(item._id)">
      @if (item.imagen && item.imagen.length > 0) {
        @for (itemA of item.imagen; track $index) {
          <img [src]="resolveImg(itemA.small)" />
        }
      } @else {
        <img class="tipo-fondo-img" [src]="getTipoImg(item.typePostName)" [alt]="item.typePostName" />
      }
      <div class="card-content">
        <div class="card-info">
          <h2 class="card-title">{{ item.name }}</h2>
          <p class="card-tipo">{{ item.tipo }}</p>
        </div>
        <div class="card-items">
          <ion-icon name="heart-outline"></ion-icon>
           <span>{{ item.likeNumber }}</span>
          <span class="content-count">
            <ion-icon name="layers-outline"></ion-icon>
            {{ item.content?.length ?? 0 }}/10
          </span>
          <span class="tipo">{{ item.typePostName }}</span>
        </div>
      </div>
    </div>
  </div>
}
