<div class="contentFacebook">
  @for (item of contenido; track $index) {
    <div class="facebook-card" id="{{ item.listas?.id ?? item.id }}">
      <app-delete-content
        [idContent]="item.listas?.id ?? item.id"
        [idpost]="idpost"
        [session]="session">
      </app-delete-content>
      <ion-card class="contentFb" (click)="viewcontent(item)">
        <div class="preview-banner">
          <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <ion-card-content>
          <p class="tipo-label">{{ getTipoLabel(item.listas?.tipo ?? item.tipo) }}</p>
          @if (item.titulo) {
            <p class="titulo">{{ item.titulo }}</p>
          }
        </ion-card-content>
      </ion-card>
    </div>
  }
</div>
