@if (showTopLists) {
  @if (filteredTopViewed.length) {
    <div class="sidebar-card">
      <h4 class="sidebar-title">{{ 'sidebar.mas_vistos' | translate }}</h4>
      <ul class="top-list">
        <li *ngFor="let post of filteredTopViewed"
            [routerLink]="['/adminlist']"
            [queryParams]="{ id: post._id }">
          <img *ngIf="post.imagen?.length" [src]="resolveImg(post.imagen[0].small)" class="top-thumb" />
          <span class="top-name">{{ post.name }}</span>
        </li>
      </ul>
    </div>
  }

  @if (filteredTopLiked.length) {
    <div class="sidebar-card">
      <h4 class="sidebar-title">{{ 'sidebar.mas_reacciones' | translate }}</h4>
      <ul class="top-list">
        <li *ngFor="let post of filteredTopLiked"
            [routerLink]="['/adminlist']"
            [queryParams]="{ id: post._id }">
          <img *ngIf="post.imagen?.length" [src]="resolveImg(post.imagen[0].small)" class="top-thumb" />
          <span class="top-name">{{ post.name }}</span>
        </li>
      </ul>
    </div>
  }
}
