
<ion-header class="video-header">
  <ion-toolbar>

    <ion-title>{{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (loading) {
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando video...</p>
    </div>
  }

  <div class="iframe-wrapper">
    <iframe
      [src]="safeTikTokUrl"
      [class.hidden]="loading"
      frameborder="0"
      allowfullscreen
      scrolling="no"
      allow="encrypted-media;"
      title="TikTok video"
      (load)="onIframeLoad()">
    </iframe>
  </div>

  <div class="urlexterna">
    <a href="https://www.tiktok.com/@{{ autor }}/video/{{ tiktokId }}?is_from_webapp=1&sender_device=pc" target="_blank"> ver video en tiktok</a>
  </div>
</ion-content>
