<div class="linkedln">
  @for (item of contenido; track $index) {
    <div class="linkedin-card" id="{{ item.idpost ?? item.id }}">
      <app-delete-content
        [idContent]="item.idpost ?? item.id"
        [idpost]="idpost"
        [session]="false">
      </app-delete-content>
      <ion-card class="contentLinkedin" (click)="viewcontent(item)">
        <div class="preview-banner">
          <img src="assets/fondos/lin.jpg" alt="LinkedIn" />
        </div>
        <ion-card-content>
          @if (item.titulo) {
            <p class="titulo">{{ item.titulo }}</p>
          }
          <div class="hover-slide">
            <span>{{ 'content.click_to_view' | translate }}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  }
</div>
