<div class="home-layout">

  <aside class="sidebar sidebar-left">
    <app-sidebar-left></app-sidebar-left>
  </aside>

  <ion-content class="feed-center" [fullscreen]="true" (ionScroll)="onScroll($event)" [scrollEvents]="true">
    <app-content-list [entityNames]="items"></app-content-list>
    <ion-infinite-scroll [disabled]="allLoaded" threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  <aside class="sidebar sidebar-right">
    <app-sidebar-right></app-sidebar-right>
  </aside>

</div>
